{% extends "base.html" %}
<!-- 模板如果不理解，可以直接照抄 -->
{% block content %}
<div class="row">
  <div class="center-block">
    <form action='' method="post" class="form-search form-inline" role="form">
      <input name="order" type="hidden" value="{{ order=='asc' and 'desc' or 'asc' }}">
      <h4 class="text-info">温馨提示：点选单选框即可选择关联账单条目</h4>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>
            ID
          </th>
          <th>
            账单编号
          </th>
          <th>
            出资人
          </th>
          <th>
            交易金额
          </th>
          <th>
            币种
          </th>
          <th>
            实际人民币
          </th>
          <th>
            入账金额
          </th>
          <th>
            记账日
          </th>
          <th>
            卡号后四位
          </th>
          <th>
            交易摘要
          </th>
          <th>
            交易地点
          </th>
          <th>
            是否需要报销
          </th>
          <th>
            发票抵冲记录
          </th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %} 
        <tr>
          <td><a href="/invoice/{{id}}/{{account.id}}"><input type="radio" name="radiobutton" value={{account.id}}></a></td>
          <td><a href="/account/{{account.id}}">{{ account.id }}</a></td>
          <td>{{ account.bill_id }}</td>
          <td>{{ account.funders.name }}</td>
          <td>{{ account.transaction_money }}</td>
          <td>{{ account.get_chinese() }}</td>
          <td>{{ account.china_yuan }}</td>
          <td>{{ account.enter_money }}</td>
          <td>{{ account.enter_date }}</td>
          <td>{{ account.card_no }}</td>
          <td>{{ account.trade_abstract }}</td>
          <td>{{ account.transaction_place }}</td>
          <td>{{ account.is_submit }}</td>
          <td>{{ account.status_index }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
	  {{ pagination.links|safe }}
	  <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">默认匹配帐目</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block js %}
$('#invoice-nav').addClass('active');
{% endblock %}
