{% extends "base.html" %}
<!-- 模板如果不理解，可以直接照抄 -->
{% block content %}
<div class="row">
  <div class="center-block">
    <form class="form-search form-inline" role="form">
      <a href='/bill/new' class="btn btn-primary">添加</a>
      <input name="order" type="hidden" value="{{ order=='asc' and 'desc' or 'asc' }}">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>
            <button name="rank" class='btn btn-link' value='id'>ID</button>
          </th>
          <th>
            <button name="rank" class='btn btn-link' value='bank'>账单所属银行</button>
          </th>
          <th>HTML文件</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in bills %} 
        <tr>
          <td><a href="/bill/{{bill.id}}">{{ bill.id }}</a></td>
          <td>{{ bill.bank }}</td>
          <td>{{ bill.html }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
	  {{ pagination.links|safe }}
    </form>
  </div>
</div>
{% endblock %}
{% block js %}
$('#bill-nav').addClass('active');
{% endblock %}
